# This workflow is triggered when a GitHub release is created.
# It can also be run manually to re-publish to NPM in case it failed for some reason.
# You can run this workflow by navigating to https://www.github.com/runloopai/api-client-ts/actions/workflows/publish-npm.yml
name: Publish NPM
on:
  workflow_dispatch:

  release:
    types: [published]

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node
        uses: runloopai/setup-node@main
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          yarn install

      - name: Publish to NPM
        run: |
          bash ./bin/publish-npm
        env:
          NPM_TOKEN: ${{ secrets.RUNLOOP_NPM_TOKEN || secrets.NPM_TOKEN }}

      - name: Add stable tag to NPM release
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "$NPM_TOKEN"
          cd dist
          PACKAGE_NAME="$(jq -r -e '.name' ./package.json)"
          VERSION="$(jq -r -e '.version' ./package.json)"

          # Only add stable tag if this is not a prerelease version
          if [[ ! "$VERSION" =~ -([a-zA-Z]+) ]]; then
            echo "Adding stable tag to version $VERSION"
            npm dist-tag add "$PACKAGE_NAME@$VERSION" stable
          else
            echo "Skipping stable tag for prerelease version $VERSION"
          fi
        env:
          NPM_TOKEN: ${{ secrets.RUNLOOP_NPM_TOKEN || secrets.NPM_TOKEN }}
